<template>
    <h1 class="headline">Welcome To Our Chatting Room</h1>
        <div class="chat-area custom-scrollbar" id="chat-area" @scroll="handleScroll">
            <div class="message" v-for="msg in messages" :key="msg.id">
                {{ msg.message }}
            </div>
        </div>
        <div class="input-container">
            <input class="chat-inputs" type="text" v-model="newMessage" @keyup.enter="broadcastMessage" />
            <button class="input-bottom" @click="broadcastMessage">Send</button>
        </div>
</template>

<script>
export default {
    data() {
        return {
            messages: [],
            newMessage: '',
            page:1,
        };
    },
    methods: {
        scrollToBottom() {
            this.$nextTick(() => {
               let chatContainer = document.getElementById("chat-area");

                // Scroll to the bottom
                if(chatContainer)
                {
                    chatContainer.scrollTop = chatContainer.scrollHeight;
                }
            });
        },
        fetchMessages() {
            axios.get('/api/messages?page='+this.page).then((response) => {
                if(response.data.data.length)
                {
                    for(let i = 0; i<response.data.data.length; i++)
                    {
                        const existingItemIndex = this.messages.findIndex(item => item.id === response.data.data[i].id);
                        if (existingItemIndex === -1) {
                            //
                            this.messages.unshift(response.data.data[i]);
                        }
                    }
                }
            });
        },
        firstFetchMessages() {
            axios.get('/api/messages?page='+this.page).then((response) => {
                if(response.data.data.length)
                {
                    for(let i = 0; i<response.data.data.length; i++)
                    {
                            this.messages.unshift(response.data.data[i]);
                    }
                }
                this.scrollToBottom();
            });
        },
        broadcastMessage()
        {
            axios
                .post('/api/public-event', { message: this.newMessage })
                .then((response) => {
                });
        },
        sendMessage() {
            axios
                .post('/api/messages', { message: this.newMessage })
                .then((response) => {
                    this.messages.push(response.data);
                    this.newMessage = '';
                    this.scrollToBottom();
                });
        },
        handleScroll(event) {
            const scrollTop = event.target.scrollTop || document.documentElement.scrollTop;
            if (scrollTop === 0) {
                this.page += 1;
                this.fetchMessages();
            }
        },
    },
    created() {
        this.firstFetchMessages();
    },
    mounted() {
        Echo.channel('channel-name')
        .listen('sendMessage',(e)=>{
            this.newMessage = e['message'];
            this.sendMessage();
        })
    }
};
</script>

<style>
body, html {
    font-family: sans-serif;
    font-weight: 100;
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);
}

.headline {
    text-align: center;
    font-weight: 100;
    color: white;
}
.chat-area {
    background: white;
    height: 50vh;
    padding: 1em;
    overflow: auto;
    max-width: 800px;
    margin: 0 auto 2em auto;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* Define styles for the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #407FFF;
    border-radius: 5px;
}
.message {
    width: 45%;
    border-radius: 10px;
    padding: .5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .8em;
    background: #407FFF;
    color: white;
}
.chat-inputs {
    justify-content: space-between;
    width: 40%;
    height: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: white;
    border-style: none;
}
.input-container {
 text-align: center;

}
.input-bottom
{
    width: 8%;
    color: white;
    height: 33px;
    font-size: small;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #407FFF;
    background-color: #407FFF;
    border-style: none;
    cursor: pointer;
    padding: 2px;
}
</style>
